.footer__links {
  display: flex;
  min-height: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 18px;
}
@media screen and (max-width: 400px) {
  .footer__links {
    height: 296px;
    flex-direction: column;
    gap: 32px;
    margin: 0;
    padding-bottom: 0;
  }
}

