.lead__caption {
  margin: 0;
  max-width: 158px;
  max-height: 14px;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (max-width: 400px) {
  .lead__caption {
    width: 158px;
    height: 14px;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
  }
}
